.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .7fr .3fr .3fr 3fr;
  grid-template-areas: 
  "grid1"
  "grid2"
  'grid3'
  "grid4"
  ;
  height: 100vh;
  width: 100%;
}

.grid1 {
grid-area: grid1;
background: black;
color: whitesmoke;
display: grid;
align-items: center;
justify-items: center;
}

.grid2 {
  grid-area: grid2;
background: rgb(173, 173, 173);
  display: grid;
align-items: center;
justify-items: center;
min-height: 60px;
}
.grid3 {
  grid-area: grid3;
  background: lightgray;
  min-height: 60px;
}

.grid4 {
  grid-area: grid4;

}